<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>
<plugin>
  <extension point="org.eclipse.sirius.componentization">
    <component class="fr.n7.idm.project.shematables.odesign.Activator"
               id="fr.n7.idm.project.shematables.odesign"
	       name="shematable">
    </component>
  </extension>
</plugin>
